<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit text-center" id="banner" parallax-scroll="">
  <div id="text-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <h1>Want to get away?</h1>
      <p class="lead" style="font-size: 2vw">We'll help you plan your trip to Cancun.</p>
      <img src="/assets/images/logo.png" height="50
      vh" style="margin-top:-0%"/>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Fun, easy travel planning for college students.</h1>
    </div>
  </div>  

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="map" class="center-block"></div>
      <p>
        Cancun is a popular vacation destination for many students, especially on spring break. <br>We provide reliable information and tools to plan and finance your trip!
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-lg-12 text-center">
      <h1 class="page-header">Build your itinerary here.</h1>
  </div>

  <div class="row text-center">
    <div class="col-md-4" ng-repeat="desc in descBlurbs">
      <img ng-src="{{desc.img}}" width="200" height="200" style="border-radius:30px"/><br><br>
      {{desc.blurb}}
    </div>
  </div>

  <div class="row centered">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br><br>
      <p>
      We've personally tried a wide array of activities in Cancun and compiled a list of verified safe and fun things for you to try. (We promise we aren't that biased!)
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="col-lg-12 text-center">
      <h1 class="page-header">Our Team</h1>
  </div>

  <div class="row text-center">
    <div class="col-md-4" ng-repeat="guy in teamMembers">
      <img ng-src="{{guy.img}}" class="circle" id="map" width="200" height="200"/><br><br>
      <p style="font-weight: bold">{{guy.name}}</p>
    </div>
  </div>

  <div class="row centered">
    <div class="col-md-2"></div>
    <div class="col-md-8"><br><br>
    <p style="font-style: italic">
    We're a group of college students who like to travel! We visited Cancun and had a fun time - but we also spent a lot of time lost and not knowing quite what to do. So we came back, did our research, and started NALDA! Now we're working hard so you can have even more of a blast than we did! :)
    </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>NALDA Easy Travel |
        <a href="https://www.facebook.com/NALDAEasyTravel">Facebook</a> |
        <a href="mailto:contact@flynalda.com">Contact</a>
      </p>
  </div>
</footer>
